prompts/prompts_claude-3.5-haiku.jsonl filter=lfs diff=lfs merge=lfs -text
prompts/prompts_claude-opus-4.jsonl filter=lfs diff=lfs merge=lfs -text
prompts/prompts_gemini-2.0-flash.jsonl filter=lfs diff=lfs merge=lfs -text
prompts/prompts_llama-3.1-405b.jsonl filter=lfs diff=lfs merge=lfs -text
prompts/prompts_llama-3.1-8b.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_claude-3.5-haiku.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_llama-3.1-405b_1.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_llama-3.1-8b_1.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_llama-3.1-405b_2.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_llama-3.1-8b_0.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_llama-3.1-8b_2.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_claude-opus-4_0.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_claude-opus-4_1.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_gemini-2.0-flash.jsonl filter=lfs diff=lfs merge=lfs -text
predictions/predictions_llama-3.1-405b_0.jsonl filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
